$bg-main-color: #131112;
$bg-secondary-color: #2e2e3a;

$color-main: #f2f4ff;
$color-secondary: #c0c5c1;

$brand-color: #891cbbd3;
$brand-color-accent: #a32bdb;


$primary-gradient: linear-gradient(to bottom, rgba(27, 22, 22, 0.658), #131112);